

- TAG background-color serve para alterar cor do fundo da pagina.

    body {
        background-color: #8257E5;
    }

            Reforçando as funçoes desse elemento
            background-color= realiza a mudança do fundo da pagina
            #8257E5 = Uma definição de cor chamado de hexadecimal color
                        colocando o mouse sobre essa hexadecial, abria toda linha de cores,
                        onde voce pode alterar para RGB e etc;

        ou

    body {
        background-color: var(--color-primary-darker);
    }


            Reforçando as funços desses elementos 

            background-color = Mudança de fundo da sua página.
            var = informando a referenca  do background-color 
            (--color-primary-darker); = 




- TAG :root signifca que estou sugerindo ao css, toda minha pagina html.
    Em outras palavras "A pseudo-classe CSS  :root se equipara à raíz de uma
     árvore, que por sua vez representa o documento. Aplicado ao HTML, 
     :root representa o elemento <html>  e é identico ao seletor html, 
     exceto que sua especificidade é mais alta." Exemplo:root

     :root {
         --main-color: hotpink;
         --pane-padding: 5px 42px;
     }

     ou

     :root {
         --color-background: #F0F0F7;
         --color-primary-lighter: #9871f5;
     }




- TAG font-size. Esse elemento estabelece o tamanho da fonte. exemplo:

            font-size: 100% (tamanho padrão)
            font-size: 60% (alteraçoes no tamanho da fonte, parte pela %)

    Forma de incluir esse elemento no seu style é dentro do body. exemplo:
     
            body{
                background-color: var(--color-background);
                font-size: 50%¨;
            }

    Também pode ser usado

            body {
                font-size: 50%;
                font-size: 2rm;
                font-size: 20px;
            }
            



- TAG * .Significa elemento qualquer ou muitos elementos. Exemplo

            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            
            }


- BOX MODEL tamanho e conteudo 

                Border: Significar criar uma caixa dentro da sua pagina. Exemplo

                #container{
                    border: 1px solid red;
                }

                padding: É seu preenchimento, esse preenchimento segue elementos de % no sentindo horário. 
                exemplo:

                Padding: 10px 40px 60px 2px

                Seria 

                10px = 12:00
                40px = 3:00
                60px = 6:00
                2px  = 9:00
